<div class="page-top">
  <h1>Tracking</h1>
  <h4 class="card-title">Order #{{ orderId }}</h4>
  <h4 class="card-title">estimated Delivery: {{displayDate}}</h4>
    <h4 class="card-title">Status: {{status}}</h4>
  <!-- <p><b>Placed on {{result.purchase_time}}</b></p> -->
</div>

<agm-map [latitude]='lat'
[longitude]='lng'>
  <agm-direction [origin]="origin"
  [destination]="destination"
  [waypoints]="waypoints">
  </agm-direction>
</agm-map>

<div id="footer">
 <div class="container-top">
   <ul>
     <li><a href="/about">About</a></li>
     <li><a href="/contact">Contact</a></li>
     <li><a href="/shipping">Shipping</a></li>
     <li><a href="/faq">FAQ</a></li>
   </ul>
 </div>
 <div class="container-bottom">
   <p class="muted credit">
     Courtesy of <a href="https://unsplash.com/">Unsplash</a> and
     <a href="https://www.pexels.com/">Pexels</a>.
   </p>
 </div>
</div>
