<div class="wrapper">
  <div class="page-top">
    <h1>About Dunder Mifflin</h1>
    <h4>Our Mission:</h4>
    <p>
      "Dunder Mifflin Incorporated provides its customers quality office and
      information technology products, furniture, printing values and the
      expertise required for making informed buying decisions. We provide our
      products and services with a dedication to the highest degree of integrity
      and quality of customer satisfaction, developing long-term professional
      relationships with employees that develop pride, creating a stable working
      environment and company spirit."
    </p>
    <p>
      For years, Dunder Mifflin was a dying company that was unable to compete
      with modern chains such as Staples and Office Depot. The company still
      used traditional salesmen rather than the Internet, causing most customers
      to leave for the nation-wide chains, and was unable to adapt to an
      increasingly paperless world. Ryan Howard, a new employee of Scranton
      Branch, predicted the company would be obsolete by 2017. In 2007, Ryan
      became Vice President of Sales and began a massive restructuring of the
      entire company, including a new website that would help make sales more
      efficient. However, his website was a failure (due to an ill-advised
      social networking feature) and he was later arrested for fraud when it was
      discovered that he was double-counting sales transactions into the website
      that were already made by salesmen over the phone.
    </p>
  </div>
  <div class="page-bottom">
    <div id="footer">
      <div class="container-top">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/shipping">Shipping</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="container-bottom">
        <p class="muted credit">
          Courtesy <a href="https://unsplash.com/">Unsplash</a> and
          <a href="https://www.pexels.com/">Pexels</a>.
        </p>
      </div>
    </div>
  </div>
</div>
