<div class="wrapper">
  <div class="page-top">
  </div>
  <div class="page-middle">
    <div class="card mb-3">
      <a [routerLink]="['/product/', '1234']"> <h3 class="card-header">Product 1</h3> </a>
      <div class="card-body">
      </div>
      <a [routerLink]="['/product/', '1234']">
        <img
          style="height: 200px; width: 100%; display: block;"
          src="../../../assets/img/materials.jpg"
          alt="Card image"
      /></a>
      <div class="card-body">
        <span class="card-link"><h3>$12.39</h3></span>
        <div class="grid">
          <div class="grid-item">Qty <input type="text" name="qty" size="5" placeholder="1">
          </div>
          <div class="grid-item">
            <a class="btn" href="#" role="button">Add to cart</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <a [routerLink]="['/product/', '1234']"> <h3 class="card-header">Product 2</h3> </a>
      <div class="card-body">
      </div>
      <a [routerLink]="['/product/', '1234']">
        <img
          style="height: 200px; width: 100%; display: block;"
          src="../../../assets/img/materials.jpg"
          alt="Card image"
      /></a>
      <div class="card-body">
        <span class="card-link"><h3>$12.39</h3></span>
        <div class="grid">
          <div class="grid-item">Qty <input type="text" name="qty" size="5" placeholder="1">
          </div>
          <div class="grid-item">
            <a class="btn" href="#" role="button">Add to cart</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <a [routerLink]="['/product/', '1234']"> <h3 class="card-header">Product 3</h3> </a>
      <div class="card-body">
      </div>
      <a [routerLink]="['/product/', '1234']">
        <img
          style="height: 200px; width: 100%; display: block;"
          src="../../../assets/img/materials.jpg"
          alt="Card image"
      /></a>
      <div class="card-body">
        <span class="card-link"><h3>$12.39</h3></span>
        <div class="grid">
          <div class="grid-item">Qty <input type="text" name="qty" size="5" placeholder="1">
          </div>
          <div class="grid-item">
            <a class="btn" href="#" role="button">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="page-bottom">
  <div>

  <div id="footer">
    <div class="container-top">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/shipping">Shipping</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </div>
    <div class="container-bottom">
      <p class="muted credit">
        Courtesy of <a href="https://unsplash.com/">Unsplash</a> and
        <a href="https://www.pexels.com/">Pexels</a>.
      </p>
    </div>
  </div>
</div>
