<nav *ngIf="nav.visible">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Dunder Mifflin</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li
          class="nav-item"
          [routerLinkActive]="['active']"
          *ngIf = "authService.loggedIn()"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['/login']"
            >Login <span class="sr-only">(current)</span></a
          >
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['active']"
          *ngIf = "!authService.loggedIn()"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" (click)="onLogoutClick()" href="/"
            >Logout <span class="sr-only">(current)</span></a
          >
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['active']"
          *ngIf = "!authService.loggedIn()"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['/orders']">Orders</a>
        </li>
        <li
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['/cart']">Cart
                <span class="badge badge-secondary">{{cartCount}}</span>
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" [ngModelOptions]="{ standalone: true }" [(ngModel)]="keyword" keyword="keyword" placeholder="Search" />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)=onSearchSubmit()>
          Search
        </button>
      </form>
    </div>
  </nav>
</nav>
