<div class="wrapper">
    <div class="page-top">
      <h1>Administration Console</h1>
      <div class="container-addItem">
        <form ngNativeValidate (submit)="onAddSubmit()">
          <h4>Enter New Item</h4>
          <label for="name"><b>Item Name </b></label>
          <input
            required="required"
            type="text"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="name"
            name="name"
            placeholder="Enter Name"
          /><br />
          <label for="category"><b>Category </b></label>
          <input
            required="required"
            type="text"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="category"
            category="category"
            placeholder="Enter Category"
          /><br />
          <label for="description"><b>Description </b></label>
          <input
            required="required"
            type="text"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="description"
            description="description"
            placeholder="Enter a Description"
          /><br />
          <label for="price"><b>Price </b></label>
          <input
            required="required"
            type="number"
            step=0.01
            min=0
            max=9999
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="price"
            price="price"
            placeholder="Enter Price"
          /><br />
          <label for="stock"><b>Stock </b></label>
          <input
            required="required"
            type="number"
            min=1
            max=999
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="stock"
            stock="stock"
            placeholder="Enter Stock"
          /><br />
          <label for="weight"><b>Weight </b></label>
          <input
            required="required"
            type="number"
            step=0.01
            min=0
            max=999
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="weight"
            weight="weight"
            placeholder="Enter Weight"
          /><br />
          <label for="w_id"><b>Warehouse ID </b></label>
          <input
            required="required"
            type="number"
            min=1
            max=2
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="warehouse_id"
            warehouse_id="warehouse_id"
            placeholder="Enter Warehouse ID"
          /><br />
          <button type="submit" class="btn btn-primary newItemBtn">Submit</button>
        </form>
      </div>
    </div>
  
    <div class="page-middle">
      <div class="container-updateExistingItem">
        <form ngNativeValidate (submit)="onUpdateSubmit()">
          <h4>Update Existing Stock</h4>
          <label for="name"><b>ItemID </b></label>
          <input
            required="required"
            type="number"
            min=1
            max=9999
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="itemID"
            itemID="itemID"
            placeholder="Enter Item ID"
          /><br />
          <label for="quantity"><b>New Quantity</b></label>
          <input
            required="required"
            type="number"
            min=1
            max=999
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="quantity"
            quantity="quantity"
            placeholder="Enter Quantity"
          />
          <button type="submit" class="btn btn-primary updateBtn">Submit</button>
        </form>
      </div>
    </div>
  
    <div class="page-bottom">
      
    </div>
  </div>
  