<div class="wrapper">
  <div class="page-top">
    <div class="jumbotron">
      <h1 class="display-3">Here Be</h1>
      <h3>Limitless Paper, in a Paperless World.</h3>
      <hr class="my-4" />
      <p>
        Specials on paper!
      </p>

      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Check it out!</a>
      </p>
    </div>
  </div>
  <div class="page-middle">
    <div class="card mb-3">
      <a href="/search?keyword=paper"> <h3 class="card-header">Paper</h3> </a>
      <div class="card-body">
        <h6 class="card-title">A ream come true</h6>
      </div>
      <a href="/search?keyword=paper">
        <img
          style="height: 200px; width: 100%; display: block;"
          src="../../../assets/img/paper.jpg"
          alt="Card image"
      /></a>
    </div>

    <div class="card mb-3">
      <a href="/search?keyword=scissors"> <h3 class="card-header">Scissors</h3> </a>
      <div class="card-body">
        <h6 class="card-title">Cutting edge products</h6>
      </div>
      <a href="/search?keyword=scissors">
        <img
          style="height: 200px; width: 100%; display: block;"
          src="../../../assets/img/scissors.jpg"
          alt="Card image"
        />
      </a>
    </div>

    <div class="card mb-3">
      <a href="/search?keyword=staplers"> <h3 class="card-header">Staplers</h3> </a>
      <div class="card-body">
        <h6 class="card-title">An office staple</h6>
      </div>
      <a href="/search?keyword=staplers">
        <img
        style="height: 200px; width: 100%; display: block;"
        src="../../../assets/img/staplers.jpg"
        alt="Card image"
        />
      </a>
    </div>

    <div class="card mb-3">
      <a href="/search?keyword=binders"> <h3 class="card-header">Binders</h3> </a>
      <div class="card-body">
        <h6 class="card-title">Has a nice ring to it</h6>
      </div>
      <a href="/search?keyword=binders">
        <img
          style="height: 200px; width: 100%; display: block;"
          src="../../../assets/img/binders.jpg"
          alt="Card image"
        />
      </a>
    </div>

    <div class="card mb-3">
      <a href="/search?keyword=pens"> <h3 class="card-header">Pens</h3> </a>
      <div class="card-body">
        <h6 class="card-title">The pen is mightier than the sword</h6>
      </div>
      <a href="/search?keyword=pens">
        <img
          style="height: 200px; width: 100%; display: block;"
          src="../../../assets/img/pens.jpg"
          alt="Card image"
        />
      </a>
    </div>

    <div class="card mb-3">
      <a href="/search?keyword=organizers"> <h3 class="card-header">Organizers</h3> </a>
      <div class="card-body">
        <h6 class="card-title">Ready to order?</h6>
      </div>
      <a href="/search?keyword=organizers">
        <img
          style="height: 200px; width: 100%; display: block;"
          src="../../../assets/img/organizers.jpg"
          alt="Card image"
        />
      </a>
    </div>

    <div class="card mb-3">
      <a href="/search?keyword=furniture"> <h3 class="card-header">Furniture</h3></a>
      <div class="card-body">
        <h6 class="card-title">Pull up a chair</h6>
      </div>
      <a href="/search?keyword=furniture">
        <img
          style="height: 200px; width: 100%; display: block;"
          src="../../../assets/img/furniture.jpg"
          alt="Card image"
        />
      </a>
    </div>
  </div>

  <div id="page-bottom">
    <div>
      <!--
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
      -->
    </div>

    <div id="footer">
      <div class="container-top">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/shipping">Shipping</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="container-bottom">
        <p class="muted credit">
          Courtesy of <a href="https://unsplash.com/">Unsplash</a> and
          <a href="https://www.pexels.com/">Pexels</a>.
        </p>
      </div>
    </div>
  </div>
</div>
