<div class="wrapper">
  <div class="page-top">
    <div class="jumbotron">
      <h1 class="display-3">Here Be</h1>
      <h3>Limitless Paper, in a Paperless World.</h3>
      <hr class="my-4" />
      <p>
        Dunder Mifflin Paper Company was founded by Robert Dunder and Robert
        Mifflin in 1949. In 2010, our company went bankrupt, and was bought by
        Sabre. In 2012, Sabre was dissolved and the company became Dunder
        Mifflin once again.
      </p>

      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button"
          >check it out!</a
        >
      </p>
    </div>
  </div>
  <div class="page-middle">
    <div class="card mb-3">
      <h3 class="card-header">Materials</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
      <img
        style="height: 200px; width: 100%; display: block;"
        src="../../../assets/img/materials.jpg"
        alt="Card image"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">More info</a>
        <a href="#" class="card-link">Add to Cart</a>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">PAPER</h5>
      </div>
      <img
        style="height: 200px; width: 100%; display: block;"
        src="../../../assets/img/paper.jpg"
        alt="Card image"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">More info</a>
        <a href="#" class="card-link">Add to Cart</a>
      </div>
    </div>

    <div class="card mb-3">
      <h3 class="card-header">Scissors</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
      <img
        style="height: 200px; width: 100%; display: block;"
        src="../../../assets/img/scissors.jpg"
        alt="Card image"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">More info</a>
        <a href="#" class="card-link">Add to Cart</a>
      </div>
    </div>
    <div class="card mb-3">
      <h3 class="card-header">Staplers</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
      <img
        style="height: 200px; width: 100%; display: block;"
        src="../../../assets/img/stapler.jpg"
        alt="Card image"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">More info</a>
        <a href="#" class="card-link">Add to Cart</a>
      </div>
    </div>

    <div class="card mb-3">
      <h3 class="card-header">Card header</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
      <img
        style="height: 200px; width: 100%; display: block;"
        src="../../../assets/img/binders.jpg"
        alt="Card image"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">More info</a>
        <a href="#" class="card-link">Add to Cart</a>
      </div>
    </div>

    <div class="card mb-3">
      <h3 class="card-header">Card header</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
      <img
        style="height: 200px; width: 100%; display: block;"
        src="../../../assets/img/pens.jpg"
        alt="Card image"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">More info</a>
        <a href="#" class="card-link">Add to Cart</a>
      </div>
    </div>
    <div class="card mb-3">
      <h3 class="card-header">Card header</h3>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
      <img
        style="height: 200px; width: 100%; display: block;"
        src="../../../assets/img/organizer.jpg"
        alt="Card image"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">More info</a>
        <a href="#" class="card-link">Add to Cart</a>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Furniture</h5>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
      </div>
      <img
        style="height: 200px; width: 100%; display: block;"
        src="../../../assets/img/furniture.jpg"
        alt="Card image"
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>

      <div class="card-body">
        <a href="#" class="card-link">More info</a>
        <a href="#" class="card-link">Add to Cart</a>
      </div>
    </div>
  </div>

  <div id="page-bottom">
    <div>
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
    </div>

    <div id="footer">
      <div class="container-top">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="container-bottom">
        <p class="muted credit">
          Courtesy <a href="https://unsplash.com/">Unsplash</a> and
          <a href="https://www.pexels.com/">Pexels</a>.
        </p>
      </div>
    </div>
  </div>
</div>
