<div class="wrapper">
  <div class="page-top">
    <h1>Put stuff here about shipping...</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, aspernatur
      voluptatum nulla natus qui magnam nam doloremque rerum minima cumque id
      sit dignissimos cupiditate ducimus est numquam ut sed vel fugiat ipsam
      explicabo officia quo perspiciatis. Optio ad veniam deserunt.
    </p>
  </div>
  <div class="page-bottom">
    <div id="footer">
      <div class="container-top">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/shipping">Shipping</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="container-bottom">
        <p class="muted credit">
          Courtesy <a href="https://unsplash.com/">Unsplash</a> and
          <a href="https://www.pexels.com/">Pexels</a>.
        </p>
      </div>
    </div>
  </div>
</div>
