<div class="wrapper">
  <div class="page-top">
    <h1>Shipping Terms & Conditions</h1>

    <h4>Delivery Information</h4>

    <ul>
      <li>Free 2-day delivery services for any order over $100.00</li>
      <li>
        For any order less than 15 lbs, the delivery will be done by a drone on
        the same day, during business hours
      </li>
      <li>
        Orders exceeding 15 lbs will be delivered by ground within 2 business
        days
      </li>
    </ul>
    <ul>
      <h5>For orders under 15 lbs</h5>
      <li>
        Customer can request delivery (drone or truck) at a surcharge of $20.00
      </li>
      <li>
        Same day truck delivery of orders exceeding $100.00 can be arranged at a
        surcharge of $25.00
      </li>
    </ul>

    <h4>Self-pickup</h4>
    <p>
      We offer our customers free pickup from our conveniently located facility!
    </p>
  </div>
  <div class="page-bottom">
    <div id="footer">
      <div class="container-top">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/shipping">Shipping</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="container-bottom">
        <p class="muted credit">
          Courtesy <a href="https://unsplash.com/">Unsplash</a> and
          <a href="https://www.pexels.com/">Pexels</a>.
        </p>
      </div>
    </div>
  </div>
</div>
