<div class="page-top">
  <h2>Title of Product</h2>
</div>
<div class="grid">
    <div class="grid-item">
      <img
        style="width: 100%; display: block;"
        src="../../../assets/img/materials.jpg"
      />
    </div>
    <div class="grid-item">
      <p><b>Product #: </b>1234</p>
      <p><b>Weight: </b>12oz</p>
      <header><h1>$12.39</h1> <span><i>per unit</i></span></header>
      <p><b>How to receive it:</b>
      <br>Free pickup, or free 2-day delivery with qualifying $100 order.
    For more information, please view our <a href="/shipping">shipping policy</a>.</p>
      Qty <input type="text" name="qty" size="5" placeholder="1">
      <a class="btn btn-primary" href="#" role="button">Add to cart</a>
    </div>
</div>
<h3>Description</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed. Nunc pulvinar sapien et ligula ullamcorper malesuada. Ridiculus mus mauris vitae ultricies leo. Lorem ipsum dolor sit amet consectetur adipiscing elit duis. In metus vulputate eu scelerisque felis imperdiet. Ornare lectus sit amet est placerat in egestas. Eget gravida cum sociis natoque penatibus et magnis dis. Suspendisse faucibus interdum posuere lorem. Vivamus at augue eget arcu dictum. Arcu odio ut sem nulla pharetra diam. Phasellus egestas tellus rutrum tellus pellentesque eu.</p>

<div id="footer">
  <div class="container-top">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/shipping">Shipping</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>
  </div>
  <div class="container-bottom">
    <p class="muted credit">
      Courtesy of <a href="https://unsplash.com/">Unsplash</a> and
      <a href="https://www.pexels.com/">Pexels</a>.
    </p>
  </div>
</div>
