<div class="wrapper">
  <div class="page-top">
    <h1>Frequently asked questions</h1>
    <div class="panel-group" id="accordion">
      <ul>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <li>
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse1"
                >
                  How much does shipping cost?</a
                >
              </li>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              Cost of shipping is determined by the total weight of your order.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <li>
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse2"
                >
                  How long before I get my order?</a
                >
              </li>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <li>
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse3"
                >
                  What is your return policy?</a
                >
              </li>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <li>
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse4"
                >
                  Some Other Question?</a
                >
              </li>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <li>
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse5"
                >
                  Another Random Question?</a
                >
              </li>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <li>
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse6"
                >
                  Yet another question</a
                >
              </li>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
        </div>
      </ul>
    </div>
    <div class="page-bottom">
      <div id="footer">
        <div class="container-top">
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/shipping">Shipping</a></li>
            <li><a href="/faq">FAQ</a></li>
          </ul>
        </div>
        <div class="container-bottom">
          <p class="muted credit">
            Courtesy <a href="https://unsplash.com/">Unsplash</a> and
            <a href="https://www.pexels.com/">Pexels</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
