<div class="wrapper">
  <div class="page-top">
    <h1>Frequently asked questions</h1>
    <div class="panel-group" id="accordion">
      <ul>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <li>
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse1"
                >
                  How much does shipping cost?</a
                >
              </li>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              Cost of shipping is determined by the total weight of your order,
              and how quickly you want the order delivered. For more
              information, please go to our shipping information page
              <a href="/shipping">here</a>.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <li>
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse2"
                >
                  How long before I get my order?</a
                >
              </li>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              Please see our Shipping page for general info about shipping. If
              you have specific inquiries, please do not hesitate to contact us
              directly!
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <li>
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse3"
                >
                  What is your return policy?</a
                >
              </li>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              We offer a full 30-day, no questions asked return policy on all
              our merchandise.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <li>
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse4"
                >
                  Where do I turn for questions about my account?</a
                >
              </li>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              Please contact Us directly for help with Accounts and Payments.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <li>
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapse5"
                >
                  How can I make suggestions and leave feedback?</a
                >
              </li>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
              We gladly welcome suggestions and feedback! Please use the form on
              the Contact page.
            </div>
          </div>
        </div>
      </ul>
    </div>
    <div class="page-bottom">
      <div id="footer">
        <div class="container-top">
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/shipping">Shipping</a></li>
            <li><a href="/faq">FAQ</a></li>
          </ul>
        </div>
        <div class="container-bottom">
          <p class="muted credit">
            Courtesy <a href="https://unsplash.com/">Unsplash</a> and
            <a href="https://www.pexels.com/">Pexels</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
