.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
}

.page-top {
  margin-top: 2em;
}

.page-top h1 {
  margin-top: 10px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.panel-group {
  width: 90%;
  margin: auto;
}

.panel-body {
  padding-bottom: 30px;
  margin-top: 0px;
  font-size: 1.2em;
  font-weight: 600;
}

.panel-title {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.li {
  list-style-type: disc;
}
/* Footer */

#footer {
  height: 150px;
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: 57vh;
}

.container-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container-top li {
  float: left;
}
.container-top ul li a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.container-top ul li a:hover {
  text-decoration: underline;
  color: #000;
}
.container-bottom {
  margin-top: 50px;
  padding-left: 16px;
}
/* End Footer */

@media screen and (max-width: 1197px) {
  #footer {
    height: 150px;
    background-color: #f5f5f5;
    padding: 10px;
    margin-top: 57vh;
  }
}
@media screen and (max-width: 700px) {
  #footer {
    padding: 5px;
    margin-top: 35vh;
  }
}
