<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style></style>
  </head>
  <body>
    <form (submit)="onLoginSubmit()">
      <div class="container">
        <h2>Login</h2>
        <label for="uname"><b>Email</b></label>
        <input
          type="text"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="email"
          email="email"
          placeholder="Enter Email"
        />
        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="password"
          password="password"
          placeholder="Enter Password"
        />
        <span class="psw">Forgot <a routerLink="/resetpwd">password?</a></span>

        <button type="submit" class="btn btn-primary">Login</button>
        <button
          type="button"
          class="btn btn-secondary"
          style="background-color:#D3D3D3"
          [routerLink]="['/register']"
        >
          Register
        </button>
        <label>
          <input type="checkbox" checked="checked" name="remember" /> Remember
          me
        </label>
      </div>

      <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div> -->
    </form>
  </body>
</html>
