<div class="wrapper">
  <div class="page-top">
    <h1>Your Orders</h1>
  </div>
  <div class="page-middle">
    <div class="card mb-3" *ngFor="let result of searchResult">
      <div class="card-body">
        <h4 class="card-title">Order #{{result.order_id}}</h4>
        <p><b>Placed on {{result.purchase_time}}</b></p>
      </div>
      <div class="grid">
        <div class="grid-item">
          <a href="#">
            <img
              style="height: 100px; display: block; margin: 0px 0px 20px 20px;"
              src="../../../assets/img/paper.jpg"
              alt="Card image"
          /></a>
        </div>
        <div class="grid-item">
          <p><b>Name of Product</b></p>
          <p>$32.10</p>
        </div>
        <div class="grid-item">
          <a [routerLink]="['/tracking']" [queryParams]="{ id: result.order_id}"> 
            <button class="btn btn-primary" type="submit">Tracking</button>
          </a>
        </div>
      </div>
  </div>

  <div id="footer">
    <div class="container-top">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/shipping">Shipping</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </div>
    <div class="container-bottom">
      <p class="muted credit">
        Courtesy of <a href="https://unsplash.com/">Unsplash</a> and
        <a href="https://www.pexels.com/">Pexels</a>.
      </p>
    </div>
  </div>
</div>
